.loginPage {
  @apply w-full h-screen bg-lightGrey bg-opacity-30;
  @apply flex items-center justify-center;

  .loginContent {
    @apply bg-white rounded-md shadow-md;
    @apply py-10 px-12;
    @apply flex items-center;

    min-height: 375px;
    min-width: 400px;

    .loginForm {
      @apply flex items-center justify-center;

      input {
        @apply border-b border-darkGrey border-opacity-40 outline-none;
        @apply block w-full py-2 mb-6;
      }

      .action {
        .btn {
          @apply w-full text-lightGrey;
        }

        .googleSignIn {
          @apply text-center cursor-pointer;

          img {
            @apply inline-block;

            max-width: 75%;
          }
        }

        .text {
          @apply pt-3;

          p {
            @apply text-xs text-grey font-medium text-opacity-70;

            a {
              &:hover {
                @apply underline;
              }
            }
          }
        }
      }
    }

    .form-info {
      @apply w-full flex justify-center items-center;
      @apply mb-8;

      .logo {
        @apply mr-4;
        width: 70px;
      }
    }
  }
}
