.heroSingle {
  $heightHero: calc(100vh - 151px);
  @apply flex items-center justify-between;
  @apply bg-lightGrey bg-opacity-20;
  @apply border-b-2 border-t-2 border-lightGrey border-opacity-50;

  height: $heightHero;

  .content {
    @apply w-2/5;
    @apply px-16;
    
    .text {
      @apply table bg-lightGrey rounded shadow-md;
      @apply relative z-10;
      @apply p-6 mb-4;

      margin-right: -12rem;

      p {
        @apply text-lg;
      }

      &:last-of-type {
        @apply mb-0;
      }
    }

    .btn {
      @apply mt-5 mr-4 px-12;
    }

    .stats {
      @apply pt-0 flex flex-wrap;

      > div {
        @apply flex items-center;
        @apply pr-5 pb-2;

        p {
          @apply text-sm;

          &:hover {
            @apply underline;
          }
        }

        svg {
          @apply pr-1;
        }

        &:last-child {
          @apply pr-0;
        }
      }
    }
  } // content

  .swiper {
    @apply w-full;
  }

  .slider-heroHome {
    @apply flex;
    @apply w-3/5;
    height: $heightHero;

    .image {
      @apply flex justify-end relative h-full w-full;
      background-size: cover;
      background-position: center;
      filter: contrast(120%);

      .overlay {
        @apply absolute w-full h-full;
        @apply bg-grey bg-opacity-30;
      }

      .copyrights {
        @apply p-4 self-end;

        p {
          @apply text-sm text-white;

          span {
            @apply italic;
          }
        }
      }
    }
  }
}